.btn.btn-toggle {
  font-weight: bold;
  font-size: 0.9em;
  border: 2px solid transparent;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px 5px;
  width: 100%;
}

.btn.btn-toggle.focus {
  box-shadow: 0 0 0 0.1rem #00fff0;
  border-radius: 5px;
}

.btn.btn-toggle:not(.disabled):hover {
  border: 2px solid #00fff0;
  border-radius: 5px;
}

.btn.btn-toggle.disabled {
  color: #514E55;
  background-color: #333;
}

.btn-toggle:not(:disabled):not(.disabled).active {
  color: #000;
  background-color: #ffcc00;
}

.btn-toggle:not(:disabled):not(.disabled) {
  color: #e0e0e0;
  background-color: #514E55;
}
