h1.unit-detail-condition-header {
  color: #aaa;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;

  margin: 0.5rem 0;
  padding-left: 5px;

  border-left: #aaa solid 3px;
  user-select: none;
}
