.unit-list {
  height: 276px;
  padding: 10px 5px 5px;
  overflow-y: scroll;
  scrollbar-color: #ffcc00 #514E55;
}

.unit-list::-webkit-scrollbar {
  width: 15px;
}
.unit-list::-webkit-scrollbar-track {
  background: #514E55;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #888;
}
.unit-list::-webkit-scrollbar-thumb {
  background: #ffcc00;
  border-radius: 10px;
  box-shadow: none;
}

.unit-list .unit-grid {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, 80px);
  grid-template-rows: repeat(auto-fill, 80px);
  justify-content: space-evenly;
}
