.unit-list-view {
  padding-right: 5px;
}

.unit-list {
  height: 276px;
  padding: 10px 5px 5px;
  overflow-y: scroll;
  scrollbar-color: #ffcc00 #514E55;
}

@media (max-width: 480px) {
  .unit-list::-webkit-scrollbar {
    width: 24px;
  }
}

@media (min-width: 480px) {
  .unit-list::-webkit-scrollbar {
    width: 16px;
  }
}

.unit-list::-webkit-scrollbar-track,
.unit-list::-webkit-scrollbar-thumb {
  border-radius: 16px;
}

.unit-list::-webkit-scrollbar-track {
  background: #514E55;
  border: none;
  box-shadow: inset 0 0 2px #888;
}
.unit-list::-webkit-scrollbar-thumb {
  background: #ffcc00;
  box-shadow: none;
  min-height: 32px;
}

.unit-list .unit-grid {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, 80px);
  grid-template-rows: repeat(auto-fill, 80px);
  justify-content: space-evenly;
}
