.popover.as-tooltip {
  background-color: #888;
}

.popover.as-tooltip.show {
  opacity: .9;
}

.popover.as-tooltip .popover-body {
  color: #fff;
}

.popover.as-tooltip .arrow::before {
  color: #888;
}

.as-tooltip.bs-popover-auto[x-placement^=top]>.arrow::after,
.as-tooltip.bs-popover-top>.arrow::after {
  border-top-color: #888;
}

.as-tooltip.bs-popover-auto[x-placement^=right]>.arrow::after,
.as-tooltip.bs-popover-right>.arrow::after {
  border-right-color: #888;
}

.as-tooltip.bs-popover-auto[x-placement^=bottom]>.arrow::after,
.as-tooltip.bs-popover-bottom>.arrow::after {
  border-bottom-color: #888;
}

.as-tooltip.bs-popover-auto[x-placement^=left]>.arrow::after,
.as-tooltip.bs-popover-left>.arrow::after {
  border-left-color: #888;
}
