.moderately-damaged-icon {
  position: absolute;
  right: 1px;
  bottom: 0;
}

.heavily-damaged-text {
  position: absolute;
  bottom: 2px;
  right: 1px;

  color: #f30;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px;
  text-shadow:
     0   -1px 0 #000,
     1px  0   0 #000,
     0    1px 0 #000,
    -1px  0   0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     1px  1px 0 #000,
    -1px  1px 0 #000;
}
