.dropdown.slot.equipment > a > .equipment-toggle-view {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
}

.dropdown-menu.equipment.show {
  background-color: #fff;
  width: 350px;
  padding: 1px;
}

.dropdown-menu.equipment > .equipment-enhancement {
  background-color: #0a101e;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 5px;
  border-radius: 3px 3px 0 0;
}

.dropdown-menu.equipment > .equipment-enhancement > div:last-of-type {
  grid-row: 1 / span 2;
  grid-column: 6;
}

.dropdown-menu.equipment .equipment-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgba(10, 16, 30, 0.9);
  border-radius: 0 0 3px 3px;
  height: 300px;
  overflow-y: scroll;
  scrollbar-color: #ffcc00 #514E55;
}

.dropdown-menu.equipment .equipment-list::-webkit-scrollbar-thumb {
  background: #ffcc00;
}

.equipment-list > .dropdown-item.equipment:not(:first-of-type) {
  border-top: 1px solid #ccc;
}

.dropdown-item.equipment {
  display: flex;
  padding: 5px;
}

.dropdown-item.equipment:not(.active, :active) {
  background-color: rgb(10, 16, 30);
}

.dropdown-item.equipment:not(.active, :active):is(:hover, :focus) {
  background-color: unset;
}

.dropdown-item.equipment > .icon {
  display: flex;
  flex-direction: column;
  width: 50px;
  margin-right: 10px;
}

.dropdown-item.equipment > .icon > .label {
  color: #ccc;
  font-size: 0.5em;
  font-weight: bold;
  white-space: break-spaces;
}

.dropdown-item.equipment:is(.active, :active) > .icon > .label,
.dropdown-item.equipment:is(.active, :active) > .details {
  color: #fff;
}

.dropdown-item.equipment.remove > .details {
  align-self: center;
  font-weight: bold;
  color: #fff;
}

.dropdown-item.equipment > .details {
  color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.details > :is(.status-effects, .effects) > .header {
  width: 100%;
  line-height: 1;
  font-size: 0.8em;
  font-weight: bold;
  color: #aaa;
  background: transparent linear-gradient(135deg, transparent 3px, #333 3px) no-repeat;
  padding: 4px 5px;
}

.details > .status-effects {
  font-size: 0.8em;
  font-weight: bold;
  white-space: normal;
}

.details > .status-effects > .details {
  margin-top: 3px;
}

.details > .effects {
  font-size: 0.8em;
  white-space: normal;
  margin-top: 5px;
}

.details > .effects .condition {
  margin-top: 3px;
}

.details > .effects .detail {
  display: flex;
  font-weight: bold;
  color: #ccc;
  background-color: #1c3042;
  border-radius: 3px;
  padding: 3px 8px;
  margin-top: 3px;
}

.details > .effects .detail > .term {
  margin-left: auto;
  text-align: right;
  flex-shrink: 0;
}

.details > .effects .detail > .term > span {
  margin-left: 10px;
}
